p {
  text-align: justify;
}

figurecaption {
  color: #616161;
  font-style: italic;
  padding: 2px;
  text-align: left;
  font-size: smaller;
}

.button {
  background-color: #A76D1D;
  border: none;
  color: #F2F2F2;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.03);
}
.button:hover {
  opacity: 0.8;
}
/* author/bio style */

.bio {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 10 10 40px;
  height: 150px;
  border-style: outset;
}

.avatar-bio {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  padding: 10px;
  background-color: #F2F2F2;
}

#title-bio {
  color: #616161;
  font-weight: bold;
}

#summary-bio {
  color: #616161;
  font-size: smaller;
  padding: 10px;
  justify-content: justify;
}


